@{
    ViewBag.Title = "Read Excel File and Display in mvc5";
}


@using (Html.BeginForm("RowData", "RawDatas", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken();
    @Html.ValidationSummary();

    <label class="text-info">Cargar RowData</label>
    <div class="input-group-btn" style="height:auto">
        <div tabindex="500" class="btn btn-primary btn-file">
            <input type="file" class="form-control" name="uploadfile" id="uploadfile" accept=".xlsx" />
        </div>
    </div>
    <button type="submit" onclick="showModal()" id="btnRowdata" name="btnRowdata" class="btn btn-success" disabled>Enviar</button>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script type="text/javascript">
        $(document).ready(function () {

            $('input[type=file]').change(function () {
                if ($('input[type=file]').val() == '') {
                    $('button').attr('disabled', true)
                }
                else {
                    $('button').attr('disabled', false);
                }
            })
        })
    </script>

    @Html.Raw(ViewBag.Script)
}