@model IEnumerable<LMB.Models.InspectionDaily>

@{
    Layout = null;
    ViewBag.Title = "Done";
}

<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<style>
    div.centrado {
        text-align: center;
    }

        div.centrado table {
            margin: 0 auto;
            text-align: left;
        }
</style>

<div class="centrado">
    <table>
        <thead>
            <tr>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                var logo = string.Empty;
                <tr>
                    <td rowspan="2">
                        @if (!string.IsNullOrEmpty(item.Insp_Type_Attach.ImageString))
                        {

                            string image = string.Format("data:image/png;base64,{0}", item.Insp_Type_Attach.ImageString);
                            <img src=@image width="300" height="300" style="display:block;margin-left:auto;margin-right:auto" />
                            //var plainTextBytes = System.Text.Encoding.UTF8.GetBytes(image);
                            //logo = System.Convert.ToBase64String(plainTextBytes);


                        }


                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Insp_Type_Attach.TypePicture.Description)
                    </td>
                </tr>
                    <tr>

                        <td>
                            @Html.DisplayFor(modelItem => item.Insp_Type_Attach.DirectionPhotoType.Description)
                        </td>
                    </tr>
            }
        </tbody>
    </table>
    <footer>

        <strong> LMB Engineering, Inc </strong> (F-346) Contract No.:88-7IDP5059
        </br>
        2017 Off System Cycle / San Antonio District
    </footer>
</div>

