@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Open PDF</title>
</head>
<body>
    <div>
        
        <embed src="http:///jmp0420-001-site1.dtempurl.com/LMB/Manual/UserManualWeb_EN.pdf" width="1000" height="875">
     </div>
</body>
</html>