@model LMB.Models.UserDB

@{
    ViewBag.Title = "Home Page";
}
<style>
    h1 {
        margin-left: 231px;
    }

    h2 {
        margin-left: 231px;
    }

    #welcome_User {
        display: block;
            margin-top: -678px;
            
    }
</style>
<div class="row">
    <img id="background" class="background" src="~/img/home.png" style="width: 100%;" width="400" />

    <div class="col-md-6 col-md-offset-3">
        <div id="welcome_User">
            <h1><strong><span id="welcom" class="clearfix"  style="color:#d41b1b">W E L C O M E</span></strong></h1>
            <h2><span class="clearfix" style="align-content:center">@Html.LabelForModel(Model.FullName)</span></h2>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
}
