@model LMB.Models.UserDB

@{
    ViewBag.Title = "Home Page";
}
<style>
    h1 {
        margin-left: 231px;
    }

    h2 {
        margin-left: 231px;
    }

    #welcome_User {
        display: block;
            margin-top: -468px;
    }
</style>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <img id="background" class="background" src="~/img/home.png" style="margin-left: -127px;" width="800" />
        <div id="welcome_User">
            <h1><strong><span id="welcom" class="clearfix" style="color:orangered">W E L C O M E</span></strong></h1>
            <h2><span class="col-md-6 col-md-offset-3" style="margin-left: 35px;">@Html.LabelForModel(Model.FullName)</span></h2>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/bootstrap")
}
