@using Microsoft.AspNet.Identity

@{
    ViewBag.Title = "Home Page";
}
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <h1><span id="welcom" class="clearfix" style="color:orangered">WELCOME</span></h1>
        <h2>@User.Identity.GetUserName() </h2>
        <img id="background" class="background" src="~/img/Logo1.JPG" width="800" height="800" />
    </div>
</div>
    @section Scripts {
        @Scripts.Render("~/bundles/bootstrap")
    }
